schema
-- Таблица пользователей
CREATE TABLE users (
                       user_id INT NOT NULL AUTO_INCREMENT,
                       first_name VARCHAR(50) NOT NULL,
                       last_name VARCHAR(50) NOT NULL,
                       email VARCHAR(50),
                       phone_number VARCHAR(20),
                       CONSTRAINT pk_user PRIMARY KEY (user_id)
);

-- Таблица товаров
CREATE TABLE products (
                          product_id INT NOT NULL AUTO_INCREMENT,
                          product_name VARCHAR(100) NOT NULL,
                          discription VARCHAR(100) NOT NULL,
                          price INT NOT NULL,
                          category VARCHAR(100) NULL,
                          CONSTRAINT pk_product PRIMARY KEY (product_id)
);

-- Таблица заказов
CREATE TABLE orders (
                        order_id INT NOT NULL AUTO_INCREMENT,
                        user_id INT NOT NULL,
                        product_id INT NOT NULL,
                        quantity INT NOT NULL DEFAULT 1,
                        order_date DATETIME NOT NULL,
                        total_price INT NOT NULL,
                        CONSTRAINT pk_orders PRIMARY KEY (order_id),
                        CONSTRAINT fk_orders_user
                            FOREIGN KEY (user_id) REFERENCES users(user_id),
                        CONSTRAINT fk_orders_product
                            FOREIGN KEY (product_id) REFERENCES products(product_id)
);