queries

1. Пользователи с фамилией "Иванов"
SELECT *
FROM users
WHERE last_name = 'Иванов';

2. Товары из категории "Аксессуары" и ценой до 8000
SELECT *
FROM products
WHERE category = 'Аксессуары'
  AND price <= 8000;

3. Средняя цена товаров
SELECT AVG(price) AS avg_price
FROM products;

4. Минимальная и максимальная цена
SELECT
    MIN(price) AS min_price,
    MAX(price) AS max_price
FROM products;

5. Количество товаров в каждой категории
SELECT
    category,
    COUNT(*) AS products_count
FROM products
GROUP BY category;

6. Пользователи, у которых имя начинается на "А"
SELECT *
FROM users
WHERE first_name LIKE 'А%';

7. Три самых дорогих товара
SELECT
    product_name,
    price
FROM products
ORDER BY price DESC
    LIMIT 3;

8. Дубли по email
SELECT
    email,
    COUNT(*) AS cnt
FROM users
WHERE email IS NOT NULL
GROUP BY email
HAVING COUNT(*) > 1;

9. Пользователи без email
SELECT *
FROM users
WHERE email IS NULL;

10. Товары без названия
SELECT *
FROM products
WHERE product_name IS NULL;

11. Все заказы с именами пользователей
SELECT
    o.order_id,
    u.first_name,
    u.last_name,
    o.order_date,
    o.total_price
FROM orders o
         JOIN users u ON o.user_id = u.user_id;

12. Все заказы с названиями товаров
SELECT
    o.order_id,
    p.product_name,
    p.category,
    o.quantity,
    o.total_price,
    o.order_date
FROM orders o
         JOIN products p ON o.product_id = p.product_id;

13. Полная информация по заказу
SELECT
    u.first_name,
    u.last_name,
    u.email,
    p.product_name,
    p.category,
    o.quantity,
    o.total_price,
    o.order_date
FROM orders o
         JOIN users u ON o.user_id = u.user_id
         JOIN products p ON o.product_id = p.product_id;

14. Пользователи, у которых НЕТ заказов
SELECT
    u.user_id,
    u.first_name,
    u.last_name,
    u.email
FROM users u
         LEFT JOIN orders o ON u.user_id = o.user_id
WHERE o.order_id IS NULL;

15. Товары, которые ещё ни разу не заказывали
SELECT
    p.product_id,
    p.product_name,
    p.category,
    p.price
FROM products p
         LEFT JOIN orders o ON p.product_id = o.product_id
WHERE o.order_id IS NULL;